.container{
    display: flex;
    position: relative;
    padding: 0px;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    box-sizing: border-box;
}
.cross{
   position: absolute;
    right: 0;
}
.todocross-icon{
    height: 30px;
    width: 30px;
    padding-right: 10px;
    cursor: pointer;
}